apiVersion: viaduct.ai/v1
kind: ksops
metadata:
  name: monitoring-secrets
  annotations:
    config.kubernetes.io/function: |
      exec:
        path: ksops
files:
  - ./grafana-admin-secret.enc.yaml
