apiVersion: v1
kind: Service
metadata:
  name: jellyfin
  namespace: jellyfin
  labels:
    app: jellyfin
  annotations:
    external-dns.alpha.kubernetes.io/hostname: jelly.fedishark.eu
    external-dns.alpha.kubernetes.io/target: jump.fedishark.eu
    tailscale.com/expose: "true"
    tailscale.com/hostname: jellyfin
spec:
  type: LoadBalancer
  selector:
    app: jellyfin
  ports:
    - port: 8096
      targetPort: http
      protocol: TCP
      name: http
