apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: tibber-exporter
  namespace: monitoring
  labels:
    release: kube-prometheus-stack
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: tibber-exporter
      app.kubernetes.io/instance: tibber-exporter
  namespaceSelector:
    matchNames:
      - monitoring
  endpoints:
    - port: http
      path: /metrics
      interval: 30s
      scrapeTimeout: 10s
